.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 80px;
  height: fit-content;
  background-color: var(--sidebar-color);
  padding: 10px 20px;
}
.left-sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--border-bottom-color);
}

.left-sidebar-top a,
.shortcuts a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

.left-sidebar-top a:last-child {
  color: var(--primary-color);
}

.left-sidebar-top a:last-child:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.left-sidebar-top a .icon,
.shortcuts a .icon {
  font-size: 22px;
  margin-right: 25px;
  width: 30px;
  color: var(--primary-color);
}

.shortcuts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shortcuts p {
  font-weight: 600;
}
