.about {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #fff;
  padding: 10vw;
  width: 100%;
}

.text-about h5 {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 10px;
}

.text-about p {
  line-height: 1.7;
  margin-bottom: 30px;
}

.about img {
  width: 200px;
}

.text-about a {
  padding: 12px 22px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

.text-about a:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
