.nav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo img {
  width: 50px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons .icons {
  color: var(--sidebar-color);
  font-size: 22px;
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.2s;
}

.nav-icons .icons:hover {
  background-color: var(--sidebar-color);
  color: var(--primary-color);
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-search {
  display: flex;
  align-items: center;
  background: var(--sidebar-color);
  border-radius: 20px;
  padding: 8px;
  width: 300px;
  gap: 5px;
}

.nav-search .icons {
  color: var(--primary-color);
  font-size: 22px;
}

.nav-search input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
}

.nav-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  position: absolute;
  border: 2px solid var(--sidebar-color);
  top: 0;
  right: 0;
}

.settings-menu {
  position: absolute;
  top: 58px;
  right: 5%;
  width: 90%;
  max-width: 350px;
  background: var(--sidebar-color);
  color: var(--quaternary-color);
  box-shadow: 0 0 10px var(--boxShadow-color);
  border-radius: 4px;
  padding: 0px 15px;
}

.settings-menu-header {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--border-bottom-color);
  cursor: pointer;
  padding: 10px 0px;
}

.settings-menu-header .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.settings-menu-header div {
  flex: 1;
}

.feedback-icon {
  background: var(--primary-color);
  width: 30px;
  border-radius: 50%;
  height: 30px;
  padding: 8px;
  color: var(--sidebar-color);
}

.settings-menu-header p {
  font-size: 13px;
  margin-bottom: -10px;
  color: var(--quaternary-color);
  font-weight: 500;
}

.settings-menu-header a {
  font-size: 12px;
  color: var(--primary-color);
  text-decoration: none;
}

.settings-menu-links {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 20px 5px 12px;
  transition: all 0.4s;
  cursor: pointer;
  margin-bottom: 10px;
}

.settings-menu-links:hover {
  padding-right: 8px;
  color: var(--primary-color);
  .main-icon {
    background-color: var(--primary-color);
  }
}

.settings-menu-links .main-icon {
  width: 20px;
  height: 20px;
  padding: 8px;
  color: var(--sidebar-color);
  background-color: var(--quaternary-color);
  font-size: 32px;
  border-radius: 50%;
}

.settings-menu-links div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-menu-links p {
  font-size: 13px;
}

.switch {
  position: relative;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--body-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
