.nav {
  background-color: #1876f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo img {
  width: 50px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons .icons {
  color: white;
  font-size: 22px;
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.nav-icons .icons:hover {
  background-color: #8ebaf5;
  cursor: pointer;
}

.nav-search {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 8px;
  width: 300px;
  gap: 5px;
}

.nav-search .icons {
  color: cornflowerblue;
  font-size: 22px;
}

.nav-search input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  font-family: inherit;
}

.nav-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: greenyellow;
  position: absolute;
  border: 2px solid white;
  top: 0;
  right: 0;
}
