.main-content {
  flex-basis: 47%;
}

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story {
  flex-basis: 18%;
  padding-top: 32%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.story .icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  width: 45px;
  height: 45px;
}

.story1 .icon {
  position: absolute;
  top: unset;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  padding: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.story p {
  color: var(--sidebar-color);
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.story1 {
  background-image: linear-gradient(transparent, var(--boxShadow-color)),
    url(../../assets/images/status-1.png);
}

.story2 {
  background-image: linear-gradient(transparent, var(--boxShadow-color)),
    url(../../assets/images/status-2.png);
}
.story3 {
  background-image: linear-gradient(transparent, var(--boxShadow-color)),
    url(../../assets/images/status-3.png);
}
.story4 {
  background-image: linear-gradient(transparent, var(--boxShadow-color)),
    url(../../assets/images/status-5.png);
}
.story5 {
  background-image: linear-gradient(transparent, var(--boxShadow-color)),
    url(../../assets/images/status-4.png);
}

.write-post-container {
  background: var(--sidebar-color);
  width: 100%;
  border-radius: 6px;
  padding: 20px;
  color: var(--quaternary-color);
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile p {
  margin-bottom: -10px;
  font-size: 13px;
  font-weight: 500;
}

.user-profile small {
  font-size: 12px;
}

.user-profile small .icon {
  width: 16px;
  height: 16px;
}

.post-input-container {
  padding-left: 50px;
  padding-top: 5px;
}

.post-input-container textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--border-bottom-color);
}

.add-post-links {
  display: flex;
  margin-top: 10px;
}

.add-post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--quaternary-color);
  margin-right: 30px;
  font-size: 13px;
}

.add-post-links a .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.icon1 {
  color: red;
}

.icon2 {
  color: green;
}

.icon3 {
  color: tomato;
}

.post-container {
  background-color: var(--sidebar-color);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 6px;
  color: var(--quaternary-color);
}

.user-profile div span {
  color: var(--quinary-color);
  font-size: 13px;
}

.post-container .post-text {
  margin: 15px 0px;
  color: var(--quinary-color);
  font-size: 13px;
}

.post-container .post-text span {
  color: var(--quinary-color);
  font-weight: 500;
}

.post-container .post-text a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 2px;
}

.post-container .post-image {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-row .icon {
  cursor: pointer;
}

.activity-icons a {
  text-decoration: none;
  color: var(--quaternary-color);
  margin-right: 30px;
}

.activity-icons a .icon {
  width: 18px;
  margin-right: 3px;
}
.user-activity {
  display: flex;
  align-items: center;
}

.user-activity .icon {
  width: 20px;
  border-radius: 50%;
}

.user-activity .arrow-down {
  width: 10px;
}

.load-more-container {
  display: flex;
  justify-content: center;
}
.load-more {
  border: 2px solid var(--quinary-color);
  padding: 5px 10px;
  color: var(--quaternary-color);
  background: transparent;
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.load-more:hover {
  box-shadow: 0 0 4px var(--boxShadow-color);
}
